<section>
  <div>
    <h1><%= @job.title %></h1>
    <div class="destaque">
      <strong>Destaque</strong>
    </div>

    <hr>

    <dl class="dl-horizontal">
      <dt>Categoria</dt>
        <dd><%= @job.category.name %></dd>
      <dt>Descrição</dt>
        <dd><%= @job.description %></dd>
      <dt>Empresa</dt>
        <dd><%= @job.company.name %></dd>
      <dt>Local</dt>
        <dd><%= @job.location %></dd>
    </dl>
  </div>
</section>

<%= link_to 'Editar Vaga', edit_job_path, class: "btn btn-primary" %> <%= link_to 'Voltar', root_path, class: "btn btn-default" %>
