<section>
  <div>
    <h1><%= @job.title %></h1>
    <strong><dt>Destaque</dt></strong>
    <hr>
    <dl>
      <dt>Categoria</dt>
        <dd><%= @job.category.name %></dd>
      <dt>Descrição</dt>
        <dd><%= @job.description %></dd>
      <dt>Empresa</dt>
        <dd><%= @job.company.name %></dd>
      <dt>Local</dt>
        <dd><%= @job.location %></dd>
    </dl>

    </div>
  </div>
</section>

<%= link_to 'Editar Vaga', edit_job_path %> <%= link_to 'Voltar', root_path %>
