

<%= link_to 'Criar Vaga', new_job_path%> |
<%= link_to 'Criar Empresa', new_company_path%>

<% @jobs.each do |job| %>
  <div>
    <h1><%= link_to job.title, job%></h1>
    <% if job.featured? %>
      <strong>Destaque</strong>
    <% end %>
    <dl>
      <dt>Empresa</dt>
        <dd><%= job.company.name%></dd>
      <dt>Local</dt>
        <dd><%= job.location%></dd>
    </dl>
  </div>
<% end %>
