<section>
  <h1>Nova Empresa</h1>
  <div class="row">
    <div class="col-md-6">
      <%= form_for @company do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Nome'  %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location, 'Local' %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :mail, 'Email' %>
          <%= f.text_field :mail, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone, 'Telefone'  %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Criar Empresa', class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
