<section>
  <div>
    <div class="row">
      <div class="col-md-3">
        <h1><%= @company.name %></h1>
      </div>
      <div class="col-md-9">
        <% if @company.premium? %>
          <%= image_tag 'estrela', alt: 'empresa premium', id: 'EmpresaPremium' %>
        <% end %>
      </div>
    </div>
    <dl>
      <dt>Local</dt>
      <dd><%= @company.location %></dd>
      <dt>Email</dt>
      <dd><%= @company.mail %></dd>
      <dt>Telefone</dt>
      <dd><%= @company.phone %></dd>
    </dl>
  </div>
  <hr>
<div>
  <%= render @jobs%>
</div>
</section>
